.nav-container {
  position: fixed;
  vertical-align: middle;
  left: 0;
  top: 0;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

  .menu-container {
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 4rem;
    transition: all 0.8s;

    li {
      padding: 0 1.2rem;
      font-size: 2.4rem;
      color: white;
      cursor: pointer;
      transition: all 0.4s ease-in;

      &:hover {
        transform: translateY(-1.1px);
      }
    }
  }
}

.logo-img {
  width: 10rem;
  height: 10rem;
  margin-left: 2rem;
}

.menu-icon {
  visibility: hidden;
  font-size: 3rem;
  color: var(--color-primary);
  cursor: pointer;
}

.show-nav {
  height: 18rem;
}

.hide-nav {
  height: 0;
}

@media screen and (max-width: 500px) {
  .nav-container {
    display: flex;

    .menu-icon {
      visibility: visible;
      margin-left: auto;
      margin-right: 3rem;
      margin-top: 1.7rem;
      font-size: 8rem;
      transition: all 0.4s;

      &:hover,
      &:active {
        color: var(--color-primary-light);
      }
    }

    .logo-img {
      width: 12rem;
      height: 12rem;
      margin-left: 3rem;
    }

    .menu-container {
      display: block;
      margin-left: 4rem;
    }

    .nav-links {
      display: block;
      font-size: 5rem;
      margin-left: 1.6rem;
      margin-top: 1rem;
      overflow: hidden;
    }
  }
}
